.TemperatureRadialSlider {
  position: relative;
  top:0px;
  left: 0px;
  /* top: 100px;
  left: calc(50% - 600px/2); */
  width: 600px;
}

.Face {
  position: relative;
  top:0px;
  left: 0px;
  /* top: 100px;
  left: calc(50% - 600px/2); */
  width: 600px;
  height: 600px;
}

.BGFace, .InnerFace {
  top: 0;
  left: 0;
  position: absolute;
}

.SunIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 275px;
  top: 445px;
  color: #ffffff;
}

.RadialSliderMarksTrack {
  z-index: 3;
  /* left: 600px;
  top: calc(50% - 53.34px/2 - 202.33px);
  width: 600px;
  height: 600px;
  position: absolute; */
}

.SliderMark {
  z-index: 3;
  position: absolute;
  left: calc(50% - 5.08px/2 - 0.46px);
  top: calc(50% - 53.34px/2 - 211.33px);
}