.TemperatureGauges {
  position: absolute;
  width: 280px;
  height: 218px;
  left: 160px;
  top: 190px;
  text-align: center;
  z-index: 5;
}

.TargetTemperature {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  color: #FFFFFF;
  display: inline-block;
}

.CurrentTemperature {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 1px;
  color: #FFFFFF;
  position: absolute;
  top: 162px;
  left: 1px;
}