.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #E1E1E4;
}

.Face {
  position: relative;
  top:0px;
  left: 0px;
  /* top: 100px;
  left: calc(50% - 600px/2); */
  width: 600px;
  height: 600px;
}

.BGFace, .InnerFace {
  top: 0;
  left: 0;
  position: absolute;
}

.SunIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 275px;
  top: 445px;
  color: #ffffff;
}

.RadialSliderMarksTrack {
  z-index: 3;
  /* left: 600px;
  top: calc(50% - 53.34px/2 - 202.33px);
  width: 600px;
  height: 600px;
  position: absolute; */
}

.SliderMark {
  z-index: 3;
  position: absolute;
  left: calc(50% - 5.08px/2 - 0.46px);
  top: calc(50% - 53.34px/2 - 211.33px);
}

.TemperatureGauges {
  position: absolute;
  width: 250px;
  height: 218px;
  left: 175px;
  top: 190px;
  text-align: center;
}

.TargetTemperature {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  color: #FFFFFF;
  display: inline-block;
}

.CurrentTemperature {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 1px;
  color: #FFFFFF;
  position: absolute;
  top: 162px;
}

.Pointer {
  position: absolute;
  width: 30px;
  height: 43px;
  left: 285px;
  top: 41px;
  z-index: 5;
}